$colorTitulo: orange;
$bgHeader: green;
$oscuridad:10%;
$botonesColor:lighten($bgHeader,70%);
$botonClaro:rgba(255, 255, 255, 0.802);
$botonOscuro:darken($botonesColor,70%);
$error : red;
$correcto : green;


@font-face {
    font-family: 'AlfaSlabOne';
    src: url("../fonts/AlfaSlabOne-Regular.ttf");
  }
@keyframes rotar{
    from{
        -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.spinner{
    animation: rotar 1.5s linear infinite;
    -webkit-animation: rotar 1.5s linear infinite;
  -moz-animation: rotar 1.5s linear infinite;
  -ms-animation: rotar 1.5s linear infinite;
  -o-animation: rotar 1.5s linear infinite;
  animation: rotar 1.5s linear infinite;
}
#spinnerContainerMain{
    position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  width: 50px;
  height: 50px;
    .spinner{
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px; 
    }
}
*{
    font-family: AlfaSlabOne;
    box-sizing: border-box;
}
html,body{
    margin: 0px;
    height: 100%;
}
#resultados{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .empresa{
        padding: 5px;
        
        border-radius: 5px;
        box-shadow: 0 0 10px darken($bgHeader,$oscuridad);
        h1{
            color: darken($bgHeader,$oscuridad);
        }
    }
}

button{
    border-radius: 5px;
    outline: none;
    border: 1px solid ;
    color: darken($bgHeader,$oscuridad);
    background-color: $botonesColor;
    &:hover{
        background-color: lighten($bgHeader,63%);
    }
    &:active{
        background-color: darken($botonesColor,70%);
        color:$botonClaro;
    }
    &:disabled{
        color: lighten($botonOscuro,50%);
    }
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #cabecera{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            color: darken($bgHeader,$oscuridad);
        }
    }
    #botones{
        margin: 0;
        position: absolute;
        top: 50%;
    }
    
}
#ocultarForm{
    max-height: 0px;
    -webkit-transition: max-height 0.5s linear;
    -moz-transition: max-height 0.5s linear;
    -ms-transition: max-height 0.5s linear;
    -o-transition: max-height 0.5s linear;
    transition: max-height 0.5s linear;
    overflow: hidden;
    margin-bottom: 10px;
    input{
        outline: 0px;
    }
    .error{
        border: 1px solid $error;
    }
    .correcto{
        border: 1px solid $correcto;
    }
    .rojo{
        color: $error;
        font-size: 10px;
    }
    #cargarPost{
        display: flex;
        flex-direction: row;
    }
    #baseForm{
        width: auto;
    }
}
#botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 500px;
}
header{
    display: flex;
    justify-content: center;
    background-color: darken($bgHeader,$oscuridad);
    h1{
        color: $colorTitulo;
    }
}
#formulario{
    border-radius: 10px;
    padding: 5px;
    border-style: solid;
    border-color:darken($bgHeader,$oscuridad);;
    transition: height 0.5s;
    h2{
        color: darken($bgHeader,$oscuridad);
    }
    form{
        display: flex;
        flex-wrap: wrap;
        div{
        box-sizing: border-box;
        padding-top: 2%;
        width: 50%;
        display: flex;
        flex-direction: column;
        }
        #boton{
            width: 100%;
            display: flex;
            button{
                width: max-content;
                align-self: flex-end;
            }
        }
        
    }
}
